<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body>
<br>
    <ul>
        <button type="submit" value="GO"><a th:href="${info}">Information</a></button>
        <button type="submit" value="GO"><a th:href="${nutritionStore}">Nutrition Store</a></button>
        <button type="submit" value="GO"><a th:href="${trickCenter}">Trick Center</a></button>
        <button type="submit" value="GO"><a th:href="${login}">LogIn</a></button>
    </ul>
    <img src="gf.png">
    <br>
    <p> This is <span th:text="${fox.name}"></span>. Currently living on <span th:text="${fox.food}"></span> and <span th:text="${fox.drink}"></span>. She knows <span th:text="${fox.listOfTricks.size()}"></span> tricks.</p>
    <h1>Known tricks</h1>
    <ul>
        <span th:if="${fox.listOfTricks.size() == 0}">You know no tricks yet. Go and learn some.</span>
        <th:block th:each="trick : ${fox.listOfTricks}"
            th:text="${trick}"><span th:unless="${fox.listOfTricks.size() == 0}"></span>
        </th:block>
    </ul>
</body>
</html>