<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<br>
    <ul>
        <li><a th:href="${info}">Information</a></li>
        <li><a th:href="${login}">LogIn</a></li>
    </ul>
    <img src="greenfox.jpg">
    <br>
    <p>This is Mr. Fox. Currently living on pizza and lemonade. He knows 2 tricks.</p>
    <h1>Known tricks</h1>
    <ul>
        <li>write HTML</li>
        <li>code in Java</li>
    </ul>
</body>
</html>