<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Todo</title>
    <link rel="stylesheet" th:href="@{style.css}"/>
    <meta charset="utf-8" />
</head>
<body>
    <h1 align="center">Todos for today:</h1>
    <p align="center"><a th:href="'/todo/add'">Add new todo</a></p>
    <ul>
        <table rules="all">
            <thead>
            <tr>
                <th>Id</th>
                <th>Action</th>
                <th>Done</th>
                <th>Urgent</th>
            </tr>
            </thead>
            <tfoot>
            <th:block >
                <tr th:each="todo: ${todoList}">
                    <td th:text="${todo.id}"></td>
                    <td th:text="${todo.toDo}"></td>
                    <td th:text="${todo.done}"></td>
                    <td th:text="${todo.urgent}"></td>
                </tr>
            </th:block>
            </tfoot>
        </table>
    </ul>
</body>
</html>